<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		body{background-color: powderblue;}
		form{
		background-color:red;
		display:block;
		width:700px;
		margin:25px auto;
		border-radius:8px;
		text-align:center;color:white
		}

	</style>
</head>
<body >
	<form action="/search" method="POST" >
		<p> <input style="width:500px;height:20px;padding:5px;border-radius:8px;background-color:powderblue;margin:5px" placeholder="Search Here..."  type=text id="search" name="search">
		<button style="width:85px;height:30px;padding:5px;border-radius:8px;background-color:powderblue;margin:5px;color:white" type="submit">Search</button><br></p>
	</form>
</body>
</html>
